<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VIBES</title>
        <meta name="description" content="Vibes is a platform where you can post your events and people can avail tickets for them.">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body id="eventing">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/company">Companies</a></li>
            <li><a href="/create_event">Create events</a></li>
            <li><a href="/create_company">Create company</a></li>
            <li><a href="/archives">Archives</a></li>
            <li><a href="/delete">DELETE</a></li>
            <li><a href="/profile_company">Profile company</a></li>
            <li><a href="/profile_organizer">Profile organizer</a></li>
            <li><a href="/logout">Log Out</a> </li>
        </ul>
        <div class="container2">
        <h2>CREATE COMPANY</h2>
        <form action="/create_company" method="post">
            <input type="text" name="cname" placeholder="Company Name" required>
            <input type="text" name="ctype" placeholder="Company Type" required>
            <input type="number" name="cnum" placeholder="Contact Number" required>
            <input type="email" name="cemail" placeholder="Email Address" required>
            <input type="text" name="clocation" placeholder="Location" required>
            <input type="text" name="cdescription" placeholder="Company Description" required>
            <input id="sub" type="submit" value="Create">
        </form>
        </div>
        <?php
    $hostname = "localhost";
    $username = "root";
    $passwd = "";
    $dbName = "event_management";

    $dbConn = mysqli_connect("localhost", "root", "", "event_management");
    

    if(mysqli_connect_errno($dbConn))
    {
        echo "Failed to connecct to Mysql:". mysqli_connect_error();
    }
    
    $crid = $_POST['crid'];
    $ename = $_POST['ename'];
    $type = $_POST['type'];
    $accom = $_POST['accom'];
    $cost = $_POST['cost'];
    $edate = $_POST['edate'];
    $loca = $_POST['loca'];
    $description = $_POST['description'];

    $sql = "INSERT INTO events(CR_ID, ENAME, TYPE, ACCOM, PRICE, EDATE, LOCA, DESCRIPTION) VALUES ('$crid', '$ename', '$type', '$accom', '$cost', '$edate', '$loca', '$description')";
    mysqli_query($dbConn, $sql);

    
?>

    </body>
</html>

