<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VIBES</title>
        <meta name="description" content="Vibes is a platform where you can post your events and people can avail tickets for them.">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body id="creating">
        <div class="container2">
        <h2>CREATE ACCOUNT</h2>
        <form action="/user" method="post">
            <input type="text" name="ufname" placeholder="First Name" required>
            <input type="text" name="ulname" placeholder="Last Name" required>
            <input type="email" name="uemail" placeholder="Email ID" required>
            <input type="password" name="upassword" placeholder="Password" required>
            <input type="number" name="ucontact" placeholder="Contact no" required>
            <input type="text" name="ulocation" placeholder="Location" required>
            <input type="date" name="udob" placeholder="Date Of Birth" required>
            <input type="text" name="ugender" placeholder="Gender" required>
            <input id="sub" type="submit" value="Sign Up">
            <a href="/" class="btn">Log In</a>
        </form>
        </div>
    </body>
</html>